@import 'https://fonts.googleapis.com/css2?family=Courgette';
@import 'https://use.fontawesome.com/releases/v6.1.1/css/all.css';

* {
    font-family: "Courgette";
}

body {
    background-color: #f5f5f5;
    padding: 100px;
}

header h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 0px;
}

header p {
    font-weight: bold;
    font-size: 25px;
    color: #cb2027;
    text-align: center;
    margin-left: 170px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

article {
    width: 32%;
    text-align: center;
    border-radius: 25px;
    background-color: white;
}

section:nth-child(1) p {
    padding-bottom: 70px;
}

article img {
    object-fit: fill;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

article h2 {
    padding: 15px;
    border-bottom: 1px solid #cb2027;
    width: 90%;
    margin: 0 auto;
}

article p {
    width: 55%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

article button {
    border: none;
    background-color: transparent;
}

article button a {
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
    color: black;
}

article button a i {
    display: inline;
    background-color: #cb2027;
    margin-left: 10px;
    padding: 1px 5px;
    border-radius: 100%;
    color: white;
}